<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <add key="richtest" value="C:\Users\rich\Documents\Visual Studio 2017\Projects\ConsoleApp19\RichTestLibrary\out"/>
    <add key="sourcelink" value="https://dotnet.myget.org/F/sourcelink/api/v3/index.json"/>
 </packageSources>
</configuration>
